.accountContainer{
    width:100%;
    height:90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.accountContainer>div{
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: row;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.buyCryptoBtn{
    width:20%;
    padding:10px;
}
.scrollbar{
    display: flex;
    flex-direction: column;
    overflow:scroll;
    width:50%;
    height:60%;
}
.miniColumnContainer{
    width:40%;
    height:100%;
    display: flex;
    flex-direction: column;
}
.topGroup{
    width:100%;
    height:50%;
    background:  linear-gradient(to top right,rgb(0, 153, 255), rgb(0, 72, 254));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius:5px;
}
.topGroup>div{
    width:90%;
    height:90%;
    display: flex;
    flex-direction: column;
    color:white;
}
.bottomGroup{
    width:100%;
    height:50%;
    background:  linear-gradient(to top right,rgb(255, 166, 0), rgb(254, 114, 0));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius:5px;
}
.bottomGroup>div{
    width:90%;
    height:90%;
    display: flex;
    flex-direction: column;
    color:white;
}
.bGBtnRow{
    display: flex;
    flex-direction: row;
    width:100%;
    height:30%;
    align-items: center;
    justify-content: space-between;
}
.delBtn{
    cursor:pointer;
    font-weight:bold;
    border: 1px solid black;
    background: rgb(255, 68, 0);
    padding:10px;
    color:white;
}
.delBtn:hover{
    background: red
}
.buyBtn{
    cursor:pointer;
    font-weight:bold;
    border: 1px solid black;
    background: rgb(0, 162, 0);
    padding:10px;
    color:white;
}
.buyBtn:hover{
    background: green;
}
.cryptoHoldingContainer{
    width:60%;
    height:100%;
    background:linear-gradient(to top right,rgb(0, 153, 255), rgb(0, 72, 254));
    border-radius:5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
}
.cryptoHoldingContainer>div{
    width:90%;
    height:90%;
}
.rowItem{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom:10px;
}
.rowItem:hover {
    background: rgba(56, 56, 56, 0.467);
    cursor:pointer;
}
.rowItem>img{
    width:100px;
    height:100px;
}
.scrollArea{
    height:80%;
    width:100%;
    overflow:scroll;
}
@media(max-width:600px){
    .accountContainer>div{
        width:100%;
        height:100%;
    }
}